/* CUSTOM PROPERTIES */

:root {
  --clr-dark: hsl(218, 23%, 16%);
  --clr-medium: hsl(217, 19%, 24%);
  --clr-light: hsl(217, 19%, 38%);
  --clr-cyan: hsl(193, 38%, 86%);
  --clr-accent: hsl(150, 100%, 66%);

  --fs-700: 1.75rem;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* UTILITY CLASSES */

.flow > :where(:not(:first-child)) {
  padding-block-start: 2rem;
}

.container {
  margin-inline: auto;
  width: min(95%, 25rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-medium {
  background-color: var(--clr-medium);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.text-cyan {
  color: var(--clr-cyan);
}

.text-accent {
  color: var(--clr-accent);
}

.fs-700 {
  font-size: var(--fs-700);
}

.text-center {
  text-align: center;
}

/* COMPONENTS */

.button {
  /* all: initial; */
  padding: 0.5em;
  border: none;
  border-radius: 50%;
}

/* ADDITIONAL STYLES */

.main {
  margin-block-start: 3rem;
  padding-block: 2rem;
  padding-inline: 1rem;
  border-radius: 5%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
